<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Your name:' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email, 'Your email:' %><br>
    <%= f.text_field :email %>
  </div>

  <%= f.fields_for :room do |builder| %>
    <fieldset>
    <%= builder.label :name, "Room name:" %>
    <%= builder.text_field :name %>
    </fieldset>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
